In [1]:
import json
import pandas as pd
from pprint import pprint
from tqdm.auto import tqdm

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from datetime import datetime
from sklearn.model_selection import train_test_split, GridSearchCV
import joblib


import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

from src.stockmarket import StockHistory
from src.date_tools import days_from_date


pd.set_option('display.max_columns', None)

In [2]:
def load_json_metrics():
    file_path = "./data/training_data/trading_metrics.json"
    with open(file_path, 'r') as file:
        data = json.load(file)
        
    df = pd.DataFrame(data['scoring_metrics'])
    stock_history = StockHistory(start_date="2012-01-01", end_date=datetime.now().date().strftime("%Y-%m-%d"))
    deltas = []
    
    for i,row in tqdm(df.iterrows(), total=len(df)):
        date = row['date']
        future_date = days_from_date(date_str=date, days=365)
        current_price = stock_history.price(ticker=row['ticker'], date_str=date)
        future_price = stock_history.price(ticker=row['ticker'], date_str=future_date)
        if future_price and current_price:
            price_change = future_price / current_price
            price_change = round(price_change, 2)
            deltas.append(price_change)
        else:
            deltas.append(None)

    df['price_change'] = deltas
    # Remove any rows that do not have price_change
    df = df.dropna(subset=['price_change']).reset_index(drop=True)
    df.to_csv('./data/disclosures/stock_metrics.csv', index=False)
    return df


df = load_json_metrics() #pd.read_csv('./data/disclosures/stock_metrics.csv')
print(df.shape)
df.head()

  0%|          | 0/10924 [00:00<?, ?it/s]

(10487, 19)

,ticker,purchase_volume,purchase_speculation,purchase_count,purchase_count_individual,purchase_days_ago,purchase_owner,purchase_confidence,sale_volume,sale_speculation,sale_count,sale_count_individual,sale_days_ago,sale_owner,sale_confidence,date,volume_net,score,price_change
0,DIS,18.000000,0,16,8,44.06,"[Thomas R Carper, Ron L Wyden, Earl Blumenauer...",1.828125,6.146707,0,6,6,31.83,"[Steve Cohen, K. Michael Conaway, Gilbert Cisn...",-0.043000,2020-04-15,11.853293,43.23,1.80
1,MSFT,18.864858,125,14,5,39.86,"[Thomas H Tuberville, Josh Gottheimer, Daniel ...",1.485000,9.910082,0,8,4,52.62,"[Shelley M Capito, Thomas H Tuberville, Kathy ...",-0.024923,2022-12-01,8.954777,40.26,1.48
2,AMZN,17.000000,0,14,12,47.21,"[John Curtis, Ron L Wyden, Dean Phillips, Susa...",1.828125,4.000000,0,4,4,56.00,"[Gilbert Cisneros, John Curtis, Cheri Bustos, ...",-0.071000,2020-04-15,13.000000,39.35,1.46
3,AMZN,20.901600,0,18,10,62.89,"[John Curtis, Ron L Wyden, Dean Phillips, Susa...",1.618000,5.000000,0,5,4,60.20,"[Gilbert Cisneros, Cheri Bustos, Donald Sterno...",-0.071000,2020-06-14,15.901600,33.95,1.33
4,AAPL,18.365672,0,18,9,55.50,"[Dean Phillips, Josh Gottheimer, Katherine M. ...",1.618000,13.000000,0,12,11,61.92,"[Mikie Sherrill, John B. Larson, Kim Schrier, ...",-0.064337,2020-04-15,5.365672,33.61,1.91

In [4]:
# Preprocess the data
df['sale_days_ago'] = df['sale_days_ago'].fillna(-1)
df['purchase_days_ago'] = df['purchase_days_ago'].fillna(-1)

# Create binary features for purchase and sale occurrence
df['purchase_occurred'] = (df['purchase_days_ago'] != -1).astype(int)
df['sale_occurred'] = (df['sale_days_ago'] != -1).astype(int)

# Define features and target
x = df.drop(columns=['date', 'purchase_owner', 'sale_owner', 'sale_speculation', 'purchase_speculation', 'price_change'])
y = df['price_change']

# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

tickers = x_test['ticker']
x_train = x_train.drop(columns=['ticker'])
x_test = x_test.drop(columns=['ticker'])

x_train.head()

,purchase_volume,purchase_count,purchase_count_individual,purchase_days_ago,purchase_confidence,sale_volume,sale_count,sale_count_individual,sale_days_ago,sale_confidence,volume_net,score,purchase_occurred,sale_occurred
6341,0.0,0,0,-1.0,0.000000,2.0,2,1,35.0,-0.153939,-2.0,0.47,0,1
4170,1.0,1,1,23.0,0.811818,0.0,0,0,-1.0,0.000000,1.0,1.43,1,0
8299,0.0,0,0,-1.0,0.000000,1.0,1,1,106.0,-0.478023,-1.0,0.12,0,1
5816,0.0,0,0,-1.0,0.000000,1.0,1,1,7.0,-0.298182,-1.0,0.62,0,1
10001,0.0,0,0,-1.0,0.000000,2.0,1,1,83.0,0.038000,-2.0,-0.05,0,1

In [5]:
# Initialize the model
gbr = GradientBoostingRegressor(random_state=42)

# Fit the model to the training data
gbr.fit(x_train, y_train)

# Make predictions on the test set
y_pred = gbr.predict(x_test)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.18813464258146256

In [6]:
predictions = x_test
predictions['ticker'] = tickers
predictions['prediction_growth'] = y_pred
predictions['actual_growth'] = y_test

predictions = predictions.sort_values(by='prediction_growth', ascending=False)

avg_actual = predictions['actual_growth'].head(10).mean()
avg_prediction = predictions['prediction_growth'].head(10).mean()

print(f"Predicted Top 10 Growth: {avg_prediction}")
print(f"Actual Top 10 Growth: {avg_actual}")


print(predictions.head(n=15))

Predicted Top 10 Growth: 1.9675810141894048
Actual Top 10 Growth: 1.65
      purchase_volume  purchase_count  purchase_count_individual  \
6692         1.000000               1                          1
483          6.000000               6                          3
106          3.365672               3                          3
5391         0.000000               0                          0
5386         0.000000               0                          0
1660         1.000000               1                          1
3101         1.000000               1                          1
5507         0.000000               0                          0
7247         0.000000               0                          0
4771         1.000000               1                          1
216          6.146707               6                          3
3014         1.000000               1                          1
5538         1.000000               1                          1
1662         1.000000               1                          1
76           0.000000               0                          0

      purchase_days_ago  purchase_confidence  sale_volume  sale_count  \
6692             116.00             1.461765          1.0           1
483               78.83             1.556481          5.0           4
106               16.00             1.828125          1.0           1
5391              -1.00             0.000000          1.0           1
5386              -1.00             0.000000          1.0           1
1660              15.00             1.409841          1.0           1
3101              68.00             1.409841          1.0           1
5507              -1.00             0.000000          1.0           1
7247              -1.00             0.000000          1.0           1
4771             106.00             1.444459          2.0           2
216               67.17             1.590000          2.0           2
3014              73.00             1.527143          1.0           1
5538             107.00             1.527143          1.0           1
1662              11.00             1.548361          3.0           3
76                -1.00             0.000000         21.0          21

      sale_count_individual  sale_days_ago  sale_confidence  volume_net  \
6692                      1          90.00        -0.572791    0.000000
483                       4          61.75        -0.064337    1.000000
106                       1          47.00        -0.473299    2.365672
5391                      1          28.00        -0.467449   -1.000000
5386                      1          28.00        -0.467449   -1.000000
1660                      1          54.00        -0.467449    0.000000
3101                      1          28.00        -0.467449    0.000000
5507                      1          37.00        -0.462258   -1.000000
7247                      1          89.00        -0.467449   -1.000000
4771                      1          98.00        -0.899231   -1.000000
216                       1          42.50        -0.099000    4.146707
3014                      1          32.00        -0.521273    0.000000
5538                      1          73.00        -0.521273    0.000000
1662                      1         109.00        -0.251014   -2.000000
76                        1          38.33        -0.442947  -21.000000

      score  purchase_occurred  sale_occurred ticker  prediction_growth  \
6692   0.39                  1              1    TGT           2.292602
483    6.73                  1              1    NEE           2.008320
106   11.92                  1              1    UPS           2.007052
5391   0.79                  0              1    BHF           1.954400
5386   0.79                  0              1   WELL           1.954400
1660   3.20                  1              1   ATRC           1.949287
3101   2.06                  1              1   BIIB           1.924519
5507   0.75                  0              1    SYF           1.912318
7247   0.27                  0              1   ENTG           1.875657
4771   1.08                  1              1     GE           1.797257
216    9.24                  1              1   SBUX           1.779452
3014   2.12                  1              1     NI           1.729830
5538   0.73                  1              1    CNP           1.729629
1662   3.20                  1              1   SPCE           1.715797
76    13.10                  0              1    RUN           1.702072

      actual_growth
6692           1.42
483            1.38
106            1.85
5391           2.14
5386           1.65
1660           1.83
3101           0.83
5507           0.96
7247           2.44
4771           2.00
216            1.50
3014           1.16
5538           1.48
1662           2.43
76             1.00

In [7]:

joblib.dump(gbr,'./data/models/gradient_boosting_regressor.joblib')

['./data/models/gradient_boosting_regressor.joblib']